/* Home page styles */
@font-face {
    font-family: 'cakefont';
    src: url('../font/cakedingbats-webfont.eot');
    src: url('../font/cakedingbats-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cakedingbats-webfont.woff2') format('woff2'),
    url('../font/cakedingbats-webfont.woff') format('woff'),
    url('../font/cakedingbats-webfont.ttf') format('truetype'),
    url('../font/cakedingbats-webfont.svg#cake_dingbatsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 60px 0;
}

header {
    margin-bottom: 60px;
}

img {
    margin-bottom: 30px;
}

h1 {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0 0 30px 0;
    padding-left: 25px;
}

a {
    color: #0071BC;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

hr {
    border-bottom: 1px solid #e7e7e7;
    border-top: 0;
    margin-bottom: 35px;
}

/* Navbar */
.dropdown-container {
    position: relative;
    margin-left: -10px;
}

.dropdown-toggle {
    margin-top: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Bottom of button */
    right: 0;
    margin-left: -100px; /* More to the left */
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
    font-size: 13px;
}

/* Admin Dropdown */ 
#navbarSupportedContent > ul > li:nth-child(10) > div {
    font-size: 13px; 
}

/*  Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #navbarSupportedContent > ul > li:nth-child(n) > a {
        font-size: 20px;
    }
    
    /* Admin Dropdown */ 
    #navbarSupportedContent > ul > li:nth-child(10) > div {
        font-size: 20px; 
    }

    .dropdown-menu { 
        margin-left: 0px !important;
    }

    #navbarSupportedContent > ul > div:nth-child(5) > li {
        margin-top: -25px;
    }

    #navbarSupportedContent > ul > div:nth-child(11) > li {
        margin-top: -25px;
    }
}

/* End Navbar */

.text-center {
    text-align: center;
}

.links a {
    margin-right: 10px;
}

.release-name {
    color: #D33C43;
    font-weight: 400;
    font-style: italic;
}

.bullet:before {
    font-family: 'cakefont', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -1px;
}

.success:before {
    color: #88c671;
    content: "\0056";
}

.problem:before {
    color: #d33d44;
    content: "\0057";
}

.cake-error {
    padding: 10px;
    margin: 10px 0;
}

.loginButton {
    font-size: 20px;
    text-transform: capitalize;
}

.registerButton {
    font-size: 18px;
    padding: .375rem .75rem;
}

.logout {
    padding: 0 3.0rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    border: 0.1rem solid #ffc107;
    border-radius: .4rem;
}

body > nav {
    margin-top: -60px;
    margin-bottom: 20px;
}

.nav-item {
    padding: 8px;
    font-size: 15px;
}

#user-table > thead > tr > th:nth-child(5) > a {
    pointer-events: none;
    cursor: default;
}

.grid {
    height: 400px;
}

.gridSubmissions {
    height: 200px;
}

.submission-category-grid {
    height: 65px;
}

.pagetitle {
    font-weight: 400;
}

.model_types_view {
    font-size: 15px;
    width: 200px;
}

.img-container {
    height: 270px !important;
    overflow: hidden;
}

@media only screen and (min-width: 760px) {
    .modeltypes:nth-child(odd) {
        margin-left: -10px;
    }
    
    .modeltypes:nth-child(even) {
        margin-left: 10px;
    }
}

#panel-button > img {
    display: none;
}